#app
APP_ENV=dev
LOG_LEVEL=INFO

#bot
BOT_TOKEN=...
ADMIN_USER_IDS=123456789,987654321
WEBHOOK_URL=https://example.com
WEBHOOK_PATH=/tg/webhook
WEBHOOK_SECRET_TOKEN=some-secret-token

#fast_api
API_HOST=0.0.0.0
API_PORT=8000

#db
DB_NAME=app
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=postgres
DB_PORT=5432
REDIS_URL=redis://redis:6379/0
